<% if notice || alert %>
  <div class="container mb-3">

    <% if notice %>
      <div class="alert alert-success" role="alert">
      <%= notice %> </p>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger" role="alert">
      <%= alert %> </p>
      </div>
    <% end %>

  </div>
<% end %>
