
<% author = post.user %>
<% author_name = "#{author.first_name} #{author.last_name}" %>

<div>
  </div>
    <%= post.body %>
  <div>
  <p>
    <strong>Author: </strong>
    <%= author_name%>
  </p>
</div>
