
<% if session[:user_id] %>
  <% author_name = post.user.full_name %>
<% else %>
  <% author_name = '[REDACTED]' %>
<% end %>

<div class="card border-secondary">
  <div class="card-body">
    <div class="card-text">
      <%= post.body %>
    </div>
  </div>
  <div class="card-footer">
    <strong>Author: </strong>
    <%= author_name %>
  </div>
</div>
