
<% if session[:user_id] %>
  <% author = post.user %>
  <% author_name = "#{author.first_name} #{author.last_name}" %>
<% else %>
  <% author_name = '[REDACTED]' %>
<% end %>

<div>
  </div>
    <%= post.body %>
  <div>
  <p>
    <strong>Author: </strong>
    <%= author_name %>
  </p>
</div>
