
<% if session[:user_id] %>
  <% author_name = post.user.full_name %>
<% else %>
  <% author_name = '[REDACTED]' %>
<% end %>

<div>
  </div>
    <%= post.body %>
  <div>
  <p>
    <strong>Author: </strong>
    <%= author_name %>
  </p>
</div>
