<div class="d-flex">
    <h1>Posts</h1>
  <div class="ms-auto align-self-center">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary"%>
  </div>
</div>

<div class="d-flex flex-column gap-2">
  <%= render @posts %>
</div>
